pre,
code {
  font-family: $monospaced;
}

code {
  background-color: var(--code-bg);
  border-radius: 3px;
  color: var(--code-text);
  padding: .25em .25em;
}

pre {
  margin: 0 0 1rem;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

.highlight {
  background: var(--code-bg);
  border-radius: 3px;
  line-height: 1.4;
  margin: 0 0 1rem;
  padding: 0.5rem;

  pre {
    margin-bottom: 0;
    overflow-x: auto;
  }

  .lineno {
    color: var(--text-tint);
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 .75rem 0 .25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}

kbd {
  padding: 0 .25em;
  border: 1px solid var(--grey-1);
  border-bottom: 2px solid var(--grey-1);
  border-radius: 3px;
}