.pagination {
  border-top: .5px solid var(--grey-2);
  font-family: $serif-secondary;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  span {
    color: var(--text-shade);
    font-size: 1.1rem;
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: var(--text-color);
    position: absolute;

    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
