/*

    Name:       Base16 Mocha Dark
    Author:     Chris Kempson (http://chriskempson.com)

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.highlight .hll { background-color: #645240 }
.highlight  { background: var(--highlight-bg); color: var(--code-text) }
.highlight .c { color: #7a8a8a } /* Comment */
.highlight .err { color: #cb4b16 } /* Error */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #6d4739 } /* Literal */
.highlight .n { color: var(--code-text) } /* Name */
.highlight .o { color: #93a1a1 } /* Operator */
.highlight .p { color: var(--code-text) } /* Punctuation */
.highlight .cm { color: #7a8a8a } /* Comment.Multiline */
.highlight .cp { color: #7a8a8a } /* Comment.Preproc */
.highlight .c1 { color: #7a8a8a } /* Comment.Single */
.highlight .cs { color: #7a8a8a } /* Comment.Special */
.highlight .gd { color: #dc322f } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #93a1a1; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .gp { color: #7a8a8a; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #268bd2; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight .kd { color: #268bd2 } /* Keyword.Declaration */
.highlight .kn { color: #2aa198 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268bd2 } /* Keyword.Reserved */
.highlight .kt { color: #b58900 } /* Keyword.Type */
.highlight .ld { color: #2aa198 } /* Literal.Date */
.highlight .m { color: #2aa198 } /* Literal.Number */
.highlight .s { color: #2aa198 } /* Literal.String */
.highlight .na { color: var(--code-text) } /* Name.Attribute */
.highlight .nb { color: #b58900 } /* Name.Builtin */
.highlight .nc { color: #b58900 } /* Name.Class */
.highlight .no { color: #cb4b16 } /* Name.Constant */
.highlight .nd { color: #268bd2 } /* Name.Decorator */
.highlight .ni { color: var(--code-text) } /* Name.Entity */
.highlight .ne { color: #cb4b16 } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: var(--code-text) } /* Name.Label */
.highlight .nn { color: var(--code-text) } /* Name.Namespace */
.highlight .nx { color: var(--code-text) } /* Name.Other */
.highlight .py { color: var(--code-text) } /* Name.Property */
.highlight .nt { color: #268bd2 } /* Name.Tag */
.highlight .nv { color: #268bd2 } /* Name.Variable */
.highlight .ow { color: #2aa198 } /* Operator.Word */
.highlight .w { color: var(--code-text) } /* Text.Whitespace */
.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight .sb { color: #7a8a8a } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .sd { color: var(--code-text) } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: var(--code-text) } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: var(--code-text) } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */
